<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Framework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>PetFinderAPI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>PetFinderAPITV.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1A1625FF1C81FAA600CECCFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A1626081C81FAA700CECCFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A435C3E1C583286002C1B61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A435C471C583286002C1B61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A75E4CE187C79C200961844</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A75E4DE187C79C200961844</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A75E4FB187C7AD800961844</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
